<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        <br>
        <style>

        div.container p {
        line-height: 3px;
        }
        </style>

        <div class="container">
        <br>
        <p>WRITING</p>
        <p><a href="/udv.html">Under Development</a></p>

        <br>
        <p>LINKS</p>
        <p><a href="https://linktr.ee/skipdebotton" target=”_blank”>linktr.ee</a></p>
        <p><a href="https://twitter.com/BottonSkip" target=”_blank”>Twitter</a></p>
        <p><a href="https://www.instagram.com/skipdebotton/" target=”_blank”>Instagram</a></p>
        <p><a href="https://facebook.com/skipdebotton" target=”_blank”>Facebook</a></p>

        <br>
        <p>OTHER</p>

        <br>
        <p>CONTACT</p>
        <p><a href="skipdebotton@gmail.com">Email</a></p>
        </div>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <!--<p><small>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>-->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
